@media screen and (min-width: 1440px) {
  #header {
    padding: 0 135px;
  }
  #crafting-session {
    height: 623px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 135px;
  }
  .craftging-head {
    gap: 60px;
  }
  h1 {
    text-align: left;
    line-height: 140%;
    font-size: 54px;
  }
  .crafting-head button {
    align-self: flex-start;
  }
  .point-font {
    position: relative;
    right: 260px;
    top: 60px;
  }

  /* .woman {
    
  } */

  .box-img-woman {
    height: 616px;
    min-width: 567px;
    position: relative;
    bottom: -80px;
    right: 5px;
  }

  /* Section 2: Brand identity  */
  #brand-identity {
    padding: 110px 135px 82px 151px;
  }
  #brand-identity h1 {
    font-size: 48px;
  }
  #brand-identity p {
    font-size: 20px;
  }

  #brand-identity .pad-176 {
    padding-right: 150px;
    padding-left: 150px;
  }
  .brand-identity-flex {
    display: flex;
    flex-direction: row;
    gap: 56px;
  }

  /* Our services */

  .services-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0 125px;
  }
  .box:nth-child(n + 5) {
    display: flex;
  }
  .font-p {
    font-size: 20px;
  }

  .box-happy-stories {
    min-width: 970px;
    min-height: 383px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* Contact us */
  .box-contact-us {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .wrap-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
  }
  /* Updated contain */
  #updated {
    padding: 30px;
  }

  .updated-contain:nth-child(n + 3) {
    display: flex;
  }

  .updated-contain img {
    max-height: 210px;
  }

  .direction {
    display: flex;
    column-gap: 50px;
  }

  /* Footer */

  #footer {
    padding: 60px 135px 20px 135px;
  }
  .wrapper-footer {
    display: flex;
    justify-content: space-around;
  }
  .rights {
    margin-top: 50px;
  }
  .form-footer {
    order: 4;
  }
}
